html body {
  --body-bg: #000;
  background: #000;
  padding: 20px;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  height: 350px;
  width: 240px;
  background: #f7f7f7;
  padding: 35px;
  color: var(--text-color);
  border-radius: 16px;
  backdrop-filter: blur(6px);
  border: 0.5px solid #564DBB;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.position_avatar {
  top: -10px;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
  height: 190px;
}

.avatar {
  width: 190px;
  height: 190px;
  border-radius: calc(100% / 2);
  border: 1px solid #a166ab;
}

h1 {
  position: relative;
  top: -35px;
  text-align: center;
  font-family: 'PT Mono', monospace;
  font-size: 32px;
  color: #333333;
}

.social {
  position: relative;
  top: -18%;
  text-align: center;
}

.soundcloud {
  position: absolute;
  top: 0%;
  right: 185px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgb(35, 91, 216);
  transition: 0.5s top;
  background-image: url("soundcloud.svg");
  background-size: 100%;
  background-color: rgb(35, 91, 
